# Surreal Cloud
SURREAL_URL=
SURREAL_NAMESPACE=equiptrack
SURREAL_DATABASE=production
SURREAL_USERNAME=
SURREAL_PASSWORD=

# Захищені сесії
AUTH_SECRET=

# URL застосунку
NEXT_PUBLIC_APP_URL=http://localhost:3000
